# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
.vite/
.cache/

# IDEs
.vscode/
.vs/

# Sistema
.DS_Store
Thumbs.db

# Build local
*.local
*.env.local
.env
.env.*
/.vs
